section{
    min-height: 50vh;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    background-color:rgb(255, 255, 255);
    background-size: 8em 8em;
    background-image: radial-gradient(circle, #587ce6 0.06em, #fcfcfc 1px);
  }

section .container{
    margin: 0.2em;
  }

section .text-container{
    display: flex;
 }

/* Slide-in animation for text */
.slide-in {
        opacity: 0;
        transform: translateY(20px); /* Slight downward offset */
        transition: all 3s ease-out; /* Smooth transition for opacity and position */
      }
      
.slide-in-visible {
        opacity: 1;
        transform: translateY(0); /* Reset position */
      }
      
.reveal{
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: 2s all ease;
      }
.reveal.active{
        transform: translateY(0);
        opacity: 1;
    }
    
/*Images*/

.titleimg{
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}
.sideimg{
    width: 300px;
    height: auto;
    max-width: 100%;
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
}
/* Fonts */
h1,h2,p{
    text-align: left;
    color: #161084;
}

.subheader{
    font-size: 40px;
    text-align: center;
    color: #161084;
}

/*Graphs*/
anychartjs-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

#anychartvis{
    width: 100%;
    height: 500px; /* Default height */
}


body {
    background-color: #587ce6;
    background-size: 2em 2em;
    background-image:
      linear-gradient(to right, rgb(255, 255, 255) 0.3em, transparent 0.3em),
      linear-gradient(to bottom, rgb(255, 255, 255) 0.3em, transparent 0.3em);
    display: flex;
    justify-content: center;
    align-items:center;
  }

  .table-container {
    max-height: 300px; 
    overflow-y: auto;
    overflow-x: auto ;
    border: 1px solid #ccc;
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-container th, .table-container td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  .table-container tr:nth-child(1) {
    background-color: #88cbfb;
    font-weight: bold;
  }

  .table-container tr:nth-child(even) {
    background-color: #e3f2fd;
  }


/*Mobile Screens*/

@media (max-width: 900px){
    section .container{
        margin: 20px;
      }
      .main_header{
        font-size: 30px;
        text-align: center;
        color: #161084;
    }
    .subheader{
        font-size: 20px;
        text-align: center;
        color: #161084;
    }
    #anychartvis{
        width: 100%;
        height: 200px; 
    }
  }
